@import "tailwindcss";


@layer{
    html,body{
        @apply bg-bg
    }
}

@theme
{
    --color-bg:#F9F6F1;
    --color-heading:#E60025;
    --color-btn:#2A5C4D;
    --color-primary:#1C1C1C;
    --color-secondary:#6B6B6B;
    --color-hover:#E0C097;
}